<!doctype html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="#3273dc">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <title>{{artist}} - {{release}}</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{twitternic}}">
    <meta name="twitter:creator" content="@{{twitternic}}">
    <meta name="twitter:title" content="{{artist}} - {{release}}">
    <meta name="twitter:description" content="Get {{release}} by {{artist}} from your favorite service">
    <meta name="twitter:image" content="{{baseurl}}{{img}}">
    <meta property="og:title" content="{{release}}">
	<meta property="og:type" content="music.album">
	<meta property="og:url" content="{{ogurl}}">
	<meta property="og:image" content="{{img}}">
    <meta property="music:album" content="{{release}}">
    <meta property="music:musician" content="{{artist}}">
	<link rel="image_src" href="{{img}}">
    <style>
		a  {
color: #363636;
}

	</style>
</head>
<body>
<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{artist}} - "{{release}}"</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="panel">                    
                    <div class="panel-block">
                        <div class="content">
                            <p>
                               <img src="{{img}}"  alt="{{artist}} - {{release}}">                               
                            </p>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">  
             <div class="panel">
				<p class="panel-heading">
				   Get <strong>"{{release}}"</strong> from your favorite service
				</p>                  
                            
              {% for item in services %}             	
                <div class="panel-block">
					<div class="content is-medium">
						<span class="icon"><i class="{{item.class}}"></i></span>
                       
                        <a href="{{item.url}}" class="is-info"> {{item.name}}</a>
					</div>
				</div>		
				{% endfor %}        
             </div>             
             
             <div class="panel">
				<p class="panel-heading">
				   Connect with <strong>{{artist}}</strong>
				</p>                  
                            
              {% for item in socials %}             	
                <div class="panel-block">
					<div class="content is-medium">
						<span class="icon"><i class="{{item.class}}"></i></span>
                       
                        <a href="{{item.url}}" class="is-info"> {{item.name}}</a>
					</div>
				</div>		
				{% endfor %}        
             </div>
       </div>
    </div>
</div>
</section>
</body>
</html>    