<!doctype html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="#3273dc">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <title>{{label.label}} releases</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{label.twitternic}}">
    <meta name="twitter:creator" content="@{{label.twitternic}}">
    <meta name="twitter:title" content="{{label.label}} releases">
    <meta name="twitter:description" content="Get {{label.label}} music from your favorite service">
    <meta name="twitter:image" content="{{baseurl}}{{label.img}}">
    <meta property="og:title" content="{{label.label}} releases">
	<meta property="og:type" content="music.album">
	<meta property="og:url" content="{{ogurl}}">
	<meta property="og:description" content="Get {{label.label}} music from your favorite service">
	<meta property="og:image" content="{{baseurl}}{{label.img}}">
    <!-- <meta property="music:musician" content="{{artist}}"> -->
	<link rel="image_src" href="{{baseurl}}{{label.img}}">
	<link rel="manifest" href="/{{slug}}.json">
    <style>
		a {
		color: #363636;
		}
	</style>	
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-N9PBV6P');</script>
	<script>
	// Check that service workers are registered
	if ('serviceWorker' in navigator) {
	  // Use the window load event to keep the page load performant
	  window.addEventListener('load', () => {
		navigator.serviceWorker.register('/sw.js');
	  });
	}
	</script>
	<script type="text/javascript" src="/tarteaucitron/tarteaucitron.js"></script>
	<script type="text/javascript">
	tarteaucitron.init({
		"hashtag": "#tarteaucitron", /* Ouverture automatique du panel avec le hashtag */
		"highPrivacy": true, /* désactiver le consentement implicite (en naviguant) ? */
		"orientation": "top", /* le bandeau doit être en haut (top) ou en bas (bottom) ? */
		"adblocker": false, /* Afficher un message si un adblocker est détecté */
		"showAlertSmall": true, /* afficher le petit bandeau en bas à droite ? */
		"cookieslist": true, /* Afficher la liste des cookies installés ? */
		"removeCredit": false /* supprimer le lien vers la source ? */
	});
	var tarteaucitronForceLanguage = 'en'; /* supported: fr, en, de, es, it, pt, pl, ru */
	</script>	
	<script type="text/javascript">
		tarteaucitron.user.bypass = {{tartebypass}};		
        tarteaucitron.user.gtagUa = 'UA-118124919-1';
        tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
        (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
    </script>
	
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9PBV6P"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{label.label}}</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
		{% for row in catalog|batch(4) %}
		<div class="tile is-ancestor">  
			{% for item in row %}  
			<div class="tile is-3 is-parent">
				<article class="tile is-child box">
				<figure class="image ">
					<a href="{{item.slug}}" class="is-info"><img src="{{item.img}}"  alt="{{item.artist}} - {{item.release}}"></a>
				</figure>
				<p class="title"><a href="{{item.slug}}" class="is-info">{{item.artist}}</a></p>
				<p class="subtitle"><a href="{{item.slug}}" class="is-info">{{item.release}}</a></p>					
				</article>
			</div>
			{% endfor %}    
		</div>		
		{% endfor %}
    </div>
    
    
     <div class="container">
     <div class="panel">
     <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://deadbees.us12.list-manage.com/subscribe/post?u=6e1fb7e735e5974306cc4da56&amp;id=905ef8e4a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to Dead Bees news</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e1fb7e735e5974306cc4da56_905ef8e4a5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
	</div>
	</div>
	
</section>
</body>
</html>    